// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
.logo {
    width:40%;
    height:100%;
}
.toolbar {
	
}
#wyeplogo {
    margin: 2px;
}
#donate {
    
    margin: 2px;
}
#help {
	font-size: 30px;
	padding: 7px;
	float: left;
  display: none;
}
#auto-play{
	color:#fff;
}
#top-content {
    background: url('../assets/img/wyeppark.jpg');
    background-size: 100%;
    height: 100%;
}
#nowplaying {
		background-color: rgba(244, 244, 244, 0.90);
		width: 100px;
    min-width: 70%;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		margin: 70px auto 0px;
    padding: 20px;
		display: none;
}
#song, #artist {
	margin-top: 2px;
}
#by {
	margin-bottom: -2px;
}
.alert-button-group {
		height: 56px;
		justify-content: space-evenly !important;
}
.alertiTunes, .alertSpotify {

}
.alertiTunes .button-inner, .alertSpotify .button-inner {
		display: none;
}
.alertSpotify {
	  background-image: url(../assets/img/logo@2x.png);
    background-size: cover;
		margin-left: 0px !important;	
		width: 45%;
}
.alertiTunes {
	  background-image: url(../assets/img/link-badge-itunes_2x.png);
    background-size: cover;
		width: 22%;
    height: 20%;
    margin: 0 8px 8px 0!important;
}
#trackname {
	margin-bottom:-6px;
	padding-bottom:0px;
}

#played {
		font-size: 2.2rem;
}
#previously {
		margin:0;
		margin-top:20px;
}
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
